.card-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 10px;

  .card {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    .img {
      width: 100%;
      height: fit-content;
      img {
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }
    .body {
      .title {
        h5 {
          color: rgb(10, 112, 245);
          margin: 0;
        }
        p {
          margin: 0;
          color: rgb(58, 57, 57);
        }
      }

      .desc {
        h5 {
          color: rgb(10, 112, 245);
          margin: 0;
        }

        p {
          margin: 0;
          color: rgb(58, 57, 57);
        }
      }
    }
  }
}
